<h1> Result:</h1>
<h2> <%= @winning_player%> wins, with a winning hand of <%= @winning_hand%>!</h2>
<h3>If you would like to recap the rules before playing a new round, please return to the Welcome page:</h3>
<li><a href="/welcome">Return to Welcome Page</a></li>
