    <h1>Welcome!
    </h1>

    <h2>Rules of the Rock, Paper, Scissors Game:
    </h2>

    <p>Both players make a guess from the options of 'rock, 'paper' and 'scissors'.</p>

    <p>If the two guesses are the same, the result is a draw. Otherwise:</p>

    <p> - Rock beats Scissors (as a rock will blunt a pair of scissors)<br>
        - Scissors beats Paper (as scissors can cut paper)<br>
        - Paper beats Rock (as paper can wrap around a rock)<br>  <p>

    <p>The result of the contest will be output on the screen!
    </p>

    <p>To start, enter the two guesses into your web browser address bar in the (lowercase) format:</p>

    <p> 'localhost:4567/guess1/guess2'</p>

    <p> For example:</p>

    <p> 'localhost:4567/rock/paper'</p>
